
<!--
代码为自动生成 Created by www.magicalcoder.com
 如果你改变了此类 read 请将此行删除
 欢迎加入官方QQ群:323237052
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:include="magicalcoder/include/head :: commonHead('角色模块权限编辑')"/>

<body class="childrenBody">
<form class="layui-form" style="width:80%;">

    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">主键</label>
        <div class="layui-input-block">
            <input type="text" disabled="true" class="layui-input" name="id"  placeholder="主键自动生成，无需手动编辑,如果重置则变成增加数据"/>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-block">
 <select name="roleId"  data-url="admin/sys_role_rest/search" data-id="id" data-text-fields="roleName" class="magicalcoder-foreign-select2 layui-input" lay-ignore="true"></select>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">模块</label>
        <div class="layui-input-block">
 <select name="moduleId"  data-url="admin/sys_module_rest/search" data-id="id" data-text-fields="moduleTitle" class="magicalcoder-foreign-select2 layui-input" lay-ignore="true"></select>
        </div>
    </div>
    <div class="layui-form-item layui-row layui-col-xs12">
        <label class="layui-form-label">权限</label>
        <div class="layui-input-block">
 <select name="permissionId"  data-url="admin/sys_permission_rest/search" data-id="id" data-text-fields="id,permissionName" class="magicalcoder-foreign-select2 layui-input" lay-ignore="true"></select>
        </div>
    </div>

    <div class="layui-form-item layui-row layui-col-xs12">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="save">立即提交</button>
            <button type="reset" class="layui-hide layui-btn layui-btn-primary" >重置</button>
        </div>
    </div>
</form>
    <div th:replace="magicalcoder/include/main-js :: commonMain" />
    <script type="text/javascript"  th:src="@{/assets/admin/rmp/rmp-edit.js}"></script>
</body>
</html>
