#parse("vms/$version/common/variable/head.vm")
package com.${companyName}.${projectName}.service.${lowerEntity}.util;
#parse("vms/$version/common/comment/ClassDesc.vm")

public class ${Entity}Util {

}
