<!--
代码为自动生成 Created by www.magicalcoder.com
 如果你改变了此类 read 请将此行删除
 欢迎加入官方QQ群:323237052
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:include="magicalcoder/v001/include/head :: commonHead('后端请求地址允许过滤器,不在过滤器的统一拒绝列表')"/>
<body class="childrenBody layui-hide">
    <form class="layui-form queryForm">
        <blockquote class="layui-elem-quote quoteBox">
            <form class="layui-form-item">
                <div class="layui-inline security_list_query_param_moduleId">
                     <div class="layui-input-inline">
                        <select class="magicalcoder-foreign-select2 layui-input" lay-ignore="true" name="moduleIdFirst" style="height:30px;width: 200px" data-url="admin/sys_module_rest/search" data-id="id" data-text-fields="moduleTitle" placeholder="所属模块"><option value=""></option></select>
                    </div>
                </div>
                <div class="layui-inline security_list_query_param_filterPlatform">
                    <div class="layui-input-inline">
                        <select name="filterPlatformFirst" class="layui-input">
                            <option value="">请选择</option>
                            <option value="front">前端</option>
                            <option value="backend">后端</option>
                            <option value="front_backend">前后端</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline security_list_query_param_permissionName">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" name="permissionNameFirst" placeholder="权限名称" />
                    </div>
                </div>
                <div class="layui-inline security_list_query_operate_search">
                    <a class="layui-btn search_btn" data-type="reload">搜索</a>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
                <div class="layui-inline security_list_query_operate_add_news">
                    <a class="layui-btn layui-btn-normal addNews_btn">添加</a>
                </div>
                <div class="layui-inline security_list_query_operate_del_all">
                    <a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
                </div>
            </form>
        </blockquote>
        <table class="security_list_table" id="newsList" lay-filter="newsListFilter" data-primary-fields="id"></table>
        <script type="text/html" id="filterPlatformTemplate">
            <select class="magicalcoder-table-single-select2 security_list_table_form_filterPlatform" name="filterPlatform" lay-ignore="true" data-identify="{{= d.id }}" lay-verify="magicalCoderVerify|mc_required" magicalcoder-verify=""  placeholder="请输入过滤端:front|backend|front_backend">
                {{#  if(d.filterPlatform+"" == ""){ 		 }}
                <option value="" selected="selected">请选择</option>
                {{#  }else{							}}
                <option value="">请选择</option>
                {{#  } 								}}
                {{#  if(d.filterPlatform+"" == "front"){ 		 }}
                <option value="front" selected="selected">前端</option>
                {{#  }else{							}}
                <option value="front">前端</option>
                {{#  } 								}}
                {{#  if(d.filterPlatform+"" == "backend"){ 		 }}
                <option value="backend" selected="selected">后端</option>
                {{#  }else{							}}
                <option value="backend">后端</option>
                {{#  } 								}}
                {{#  if(d.filterPlatform+"" == "front_backend"){ 		 }}
                <option value="front_backend" selected="selected">前后端</option>
                {{#  }else{							}}
                <option value="front_backend">前后端</option>
                {{#  } 								}}
            </select>
        </script>
        <script type="text/html" id="frontActionTemplate">
            <select class="magicalcoder-table-single-select2 security_list_table_form_frontAction" name="frontAction" lay-ignore="true" data-identify="{{= d.id }}" lay-verify="magicalCoderVerify" magicalcoder-verify=""  placeholder="请输入前端处理方式show|disabled">
                {{#  if(d.frontAction+"" == ""){ 		 }}
                <option value="" selected="selected">请选择</option>
                {{#  }else{							}}
                <option value="">请选择</option>
                {{#  } 								}}
                {{#  if(d.frontAction+"" == "show"){ 		 }}
                <option value="show" selected="selected">读写</option>
                {{#  }else{							}}
                <option value="show">读写</option>
                {{#  } 								}}
                {{#  if(d.frontAction+"" == "disabled"){ 		 }}
                <option value="disabled" selected="selected">只读</option>
                {{#  }else{							}}
                <option value="disabled">只读</option>
                {{#  } 								}}
            </select>
        </script>
        <!--操作-->
        <script type="text/html" id="newsListOperateTemplate">
            <a class="layui-btn layui-btn-sm security_list_table_operate_edit" lay-event="edit">编辑</a>
            <!--不要这个了<a class="layui-btn layui-btn-sm security_list_table_operate_children" lay-event="children">角色模块权限</a>-->
            <a class="layui-btn layui-btn-sm layui-btn-danger security_list_table_operate_del" lay-event="del">删除</a>
        </script>
    </form>
    <div th:replace="magicalcoder/v001/include/main-js :: commonMain" />
    <script type="text/javascript"  th:src="@{/assets/admin/syspermission/syspermission-list.js}"></script>
</body>
</html>
