<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
* 代码为自动生成 Created by www.magicalcoder.com
* 如果你改变了此类 read 请将此行删除
*  欢迎加入官方QQ群:323237052
-->
<mapper namespace="com.magicalcoder.youyaboot.service.goodsimg.mapper.GoodsImgMapper">
    <!-- GoodsImg -->
    <resultMap id="resultMap" type="GoodsImg">
                <id column="img_id" property="imgId"/>
                <result column="img_src" property="imgSrc" />
                <result column="goods_id" property="goodsId" />
    </resultMap>
    <!-- 查询单个实体 -->
    <select id="getModel" parameterType="hashmap" resultMap="resultMap">
        select  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        from  <include refid="tableSql"/>  where 1=1 <include refid="whereSqlModel"/> <include refid="orderGroupLimit"/>
    </select>
    <!--根据主键 查询单个实体 -->
    <select id="getModelByPk" parameterType="hashmap" resultMap="resultMap">
        select  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        from  <include refid="tableSql"/>  <include refid="magicalcoderPkWhereSql"/>
    </select>
    <!-- 查询一组实体 -->
    <select id="getModelList" parameterType="hashmap" resultMap="resultMap">
        select  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        from  <include refid="tableSql"/>  where 1=1 <include refid="whereSqlModel"/> <include refid="orderGroupLimit"/>
    </select>
    <!-- 查询一组实体 in 语句-->
    <select id="getModelInList" parameterType="hashmap" resultMap="resultMap">
        select  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        from  <include refid="tableSql"/>  where  "img_id" in
        <foreach item="id" index="index" collection="idList" open="(" separator="," close=")">#{id}</foreach>
        <include refid="orderGroupLimit"/>
    </select>
    <!-- 查询一组实体的数量 -->
    <select id="getModelListCount" parameterType="hashmap" resultType="int">
        select count(1)  from  <include refid="tableSql"/>  where 1=1 <include refid="whereSqlModel"/> <include refid="orderGroupLimit"/>
    </select>
    <!-- 插入单个实体 遇到入参null转换成数据库NULL-->
    <insert id="insertModel" parameterType="GoodsImg"  useGeneratedKeys="true" keyProperty="imgId" >
        insert into <include refid="tableSql"/> (<include refid="douFieldSql"/>) values(<include refid="douValueSql"/>)
    </insert>
    <!-- 替换单个实体 如果没有则插入 遇到入参null转换成数据库NULL-->
    <insert id="replaceModel" parameterType="GoodsImg"  useGeneratedKeys="true" keyProperty="imgId" >
        <!-- 很抱歉 postgresql 没有像mysql replace into 这样 的语句-->
    </insert>
    <!-- 插入单个实体 遇到入参null转换成数据库默认值-->
    <insert id="insertModelWithoutNull" parameterType="GoodsImg"  useGeneratedKeys="true" keyProperty="imgId" >
        insert into <include refid="tableSql"/> (<include refid="douFieldWithoutNullSql"/>) values(<include refid="douValueWithoutNullSql"/>)
    </insert>
    <!-- 替换单个实体 如果没有则插入 遇到入参null转换成数据库默认值-->
    <insert id="replaceModelWithoutNull" parameterType="GoodsImg"  useGeneratedKeys="true" keyProperty="imgId" >
        <!-- 很抱歉 postgresql 没有像mysql replace into 这样 的语句-->
    </insert>
    <!-- 批量插入一组实体 -->
    <insert id="batchInsertModel" parameterType="java.util.List"   useGeneratedKeys="true" keyProperty="imgId" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            insert into <include refid="tableSql"/> (<include refid="batchDouFieldSql"/>) values (<include refid="batchDouValueSql"/>)
        </foreach>
    </insert>
    <!-- 批量替换一组实体 -->
    <insert id="batchReplaceModel" parameterType="java.util.List"  useGeneratedKeys="true" keyProperty="imgId" >
        <!-- 很抱歉 postgresql 没有像mysql replace into 这样 的语句-->
    </insert>
    <insert id="batchInsertModelWithoutNull" parameterType="java.util.List"   useGeneratedKeys="true" keyProperty="imgId" >
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            insert into <include refid="tableSql"/> (<include refid="batchDouFieldWithoutNullSql"/>) values (<include refid="batchDouValueWithoutNullSql"/>)
        </foreach>
    </insert>
    <insert id="batchReplaceModelWithoutNull" parameterType="java.util.List"  useGeneratedKeys="true" keyProperty="imgId" >
        <!-- 很抱歉 postgresql 没有像mysql replace into 这样 的语句-->
    </insert>

        <!-- 清空表 操作危险 慎用，暂时注销掉-->
    <delete id="truncateModel">
        -- truncate table <include refid="tableSql"/>
    </delete>

    <!-- 根据主键删除一个实体 magicalCoderPrimaryKeyName 框架封装-->
    <delete id="deleteModelByPk" parameterType="hashmap">
        delete from <include refid="tableSql"/> <include refid="magicalcoderPkWhereSql"/>
    </delete>

    <delete id="deleteModelList" parameterType="hashmap">
        delete from <include refid="tableSql"/> where 1=1 <include refid="whereSqlModel"/>
    </delete>

    <!-- 批量删除实体 in 根据主键-->
    <delete id="deleteModelByIds" parameterType="java.util.Set">
        delete from <include refid="tableSql"/> where "img_id" in <foreach item="id" index="index" collection="collection" open="(" separator="," close=")">#{id}</foreach>
    </delete>
    <!-- 更新一个实体 -->
    <update id="updateModel" parameterType="GoodsImg">
        update <include refid="tableSql"/> <include refid="updateSetSql"/> <include refid="updatePkWhereSql"/>
    </update>
    <!-- 更新一个实体 仅仅当被更新的字段不为空的时候才更新，否则忽略更新-->
    <update id="updateModelWithoutNull" parameterType="GoodsImg">
        update <include refid="tableSql"/> <include refid="updateSetWithoutNullSql"/> <include refid="updatePkWhereSql"/>
    </update>
     <!-- 批量更新实体 传入一组实体，分别根据主键作为查询条件-->
    <update id="batchUpdateModel" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update <include refid="tableSql"/> <include refid="batchUpdateSetSql"/> <include refid="batchUpdatePkWhereSql"/>
        </foreach>
    </update>
    <update id="batchUpdateModelWithoutNull" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update <include refid="tableSql"/> <include refid="batchUpdateWithoutNullSetSql"/> <include refid="batchUpdatePkWhereSql"/>
        </foreach>
    </update>
    <!-- sql 片段 -->
   <sql id="selectSqlIgnoreModel">
        <trim suffixOverrides=",">
            <if test="imgIdIgnore_ == null or !imgIdIgnore_">"img_id",</if>
            <if test="imgSrcIgnore_ == null or !imgSrcIgnore_">"img_src",</if>
            <if test="goodsIdIgnore_ == null or !goodsIdIgnore_">"goods_id"</if>
        </trim>
    </sql>
    <sql id="selectSqlNotIgnoreModel">
        <trim suffixOverrides=",">
         <if test="imgIdNotIgnore_ != null and imgIdNotIgnore_">"img_id",</if>
         <if test="imgSrcNotIgnore_ != null and imgSrcNotIgnore_">"img_src",</if>
         <if test="goodsIdNotIgnore_ != null and goodsIdNotIgnore_">"goods_id"</if>
        </trim>
    </sql>
    <sql id="douFieldSql">
        <trim suffixOverrides=",">
            <if test="imgId!=null">"img_id",</if> "img_src","goods_id",
        </trim>
    </sql>
    <sql id="douValueSql">
        <trim suffixOverrides=",">
                <choose><when test="imgId!=null">#{imgId},</when></choose>
                <choose><when test="imgSrc!=null">#{imgSrc},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="goodsId!=null">#{goodsId},</when><otherwise>NULL,</otherwise></choose>
        </trim>
    </sql>

    <sql id="douFieldWithoutNullSql">
        <trim suffixOverrides=",">
                <if test="imgId!=null">"img_id",</if>
                <if test="imgSrc!=null">"img_src",</if>
                <if test="goodsId!=null">"goods_id",</if>

        </trim>
    </sql>
    <sql id="douValueWithoutNullSql">
        <trim suffixOverrides=",">
                <choose><when test="imgId!=null">#{imgId},</when></choose>
                <choose><when test="imgSrc!=null">#{imgSrc},</when></choose>
                <choose><when test="goodsId!=null">#{goodsId},</when></choose>
        </trim>
    </sql>
    <sql id="batchDouFieldSql">
        <trim suffixOverrides=",">
                <if test="item.imgId!=null">"img_id",</if> "img_src","goods_id",
        </trim>
    </sql>
    <sql id="batchDouValueSql">
        <trim suffixOverrides=",">
                <choose><when test="item.imgId!=null">#{item.imgId},</when></choose>
                <choose><when test="item.imgSrc!=null">#{item.imgSrc},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="item.goodsId!=null">#{item.goodsId},</when><otherwise>NULL,</otherwise></choose>
        </trim>
    </sql>
    <sql id="batchDouFieldWithoutNullSql">
        <trim suffixOverrides=",">
                <if test="item.imgId!=null">"img_id",</if>
                <if test="item.imgSrc!=null">"img_src",</if>
                <if test="item.goodsId!=null">"goods_id",</if>

        </trim>
    </sql>
    <sql id="batchDouValueWithoutNullSql">
        <trim suffixOverrides=",">
                <choose><when test="item.imgId!=null">#{item.imgId},</when></choose>
                <choose><when test="item.imgSrc!=null">#{item.imgSrc},</when></choose>
                <choose><when test="item.goodsId!=null">#{item.goodsId},</when></choose>
        </trim>
    </sql>
    <sql id="updateSetSql">
        <set>
                    <choose> <when test="imgSrc!=null">"img_src"=#{imgSrc}</when> <otherwise> "img_src"=NULL</otherwise> </choose>,
                    <choose> <when test="goodsId!=null">"goods_id"=#{goodsId}</when> <otherwise> "goods_id"=NULL</otherwise> </choose>,
        </set>
    </sql>
    <sql id="updateSetWithoutNullSql">
        <set>
                    <choose><when test="imgSrc!=null">"img_src"=#{imgSrc},</when></choose>
                    <choose><when test="goodsId!=null">"goods_id"=#{goodsId},</when></choose>
        </set>
    </sql>
    <sql id="magicalcoderPkWhereSql">
        where 1=1
            and "img_id" = #{magicalCoderPrimaryKeyName}
    </sql>
    <sql id="updatePkWhereSql">
        where 1=1
            and "img_id" = #{imgId}
    </sql>
    <sql id="batchUpdateSetSql">
        <set>
                    <choose> <when test="item.imgSrc!=null">"img_src"=#{item.imgSrc}</when> <otherwise> "img_src"=NULL</otherwise> </choose>,
                    <choose> <when test="item.goodsId!=null">"goods_id"=#{item.goodsId}</when> <otherwise> "goods_id"=NULL</otherwise> </choose>,
        </set>
    </sql>
    <sql id="batchUpdateWithoutNullSetSql">
        <set>
                    <choose> <when test="item.imgSrc!=null">"img_src"=#{item.imgSrc},</when></choose>
                    <choose> <when test="item.goodsId!=null">"goods_id"=#{item.goodsId},</when></choose>
        </set>
    </sql>
    <sql id="batchUpdatePkWhereSql">
        where 1=1
            and "img_id" = #{item.imgId}
    </sql>
    <!-- 这里可以加上数据库名称 方便的切换数据库-->
    <sql id="tableSql">
        youyaboot.public.goods_img
    </sql>

   <sql id="whereSqlModel">
        <if test="imgId!=null "> and "img_id" = #{imgId}</if>
        <if test="imgSrc!=null "> and "img_src" = #{imgSrc}</if>
        <if test="goodsId!=null "> and "goods_id" = #{goodsId}</if>
                <if test="goodsIdFirst!=null "> and goods_id <![CDATA[=]]>
                            #{goodsIdFirst}
                </if>
        <!--<if test="whereSql!=null"> ${whereSql}</if>-->
    </sql>

    <sql id="safeGroupBy">
        <if test="safeGroupBy!=null and safeGroupBy!=''">
            group by
            <choose>
                <when test="safeGroupBy != null and safeGroupBy == 'img_id'">  "img_id" </when>
                <when test="safeGroupBy != null and safeGroupBy == 'img_src'">  "img_src" </when>
                <when test="safeGroupBy != null and safeGroupBy == 'goods_id'">  "goods_id" </when>
            </choose>
        </if>
    </sql>
    <sql id="safeOrderBy">
        <if test="safeOrderBy!=null and safeOrderBy!=''">
            <choose>
                <when test="safeOrderBy != null and safeOrderBy == 'img_id desc'"> order by "img_id" desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'img_id asc'"> order by "img_id" asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'img_src desc'"> order by "img_src" desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'img_src asc'"> order by "img_src" asc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'goods_id desc'"> order by "goods_id" desc </when>
                <when test="safeOrderBy != null and safeOrderBy == 'goods_id asc'"> order by "goods_id" asc </when>
            </choose>
        </if>
    </sql>

    <sql id="orderGroupLimit">
        <include refid="safeGroupBy"/>
        <if test="notSafeGroupBy != null and notSafeGroupBy != ''"> group by ${notSafeGroupBy}</if>
        <include refid="safeOrderBy"/>
        <if test="notSafeOrderBy != null and notSafeOrderBy != ''"> order by ${notSafeOrderBy}</if>
        <if test="limit != null"> LIMIT #{limit} <if test="start != null"> OFFSET #{start}</if> </if>
    </sql>

</mapper>
