#parse("vms/$version/common/variable/head.vm")
#parse("vms/$version/common/asert/priorityKey.vm")
#parse("vms/$version/common/comment/html-desc.vm")
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:include="magicalcoder/${jshtmlVersion}/include/head :: commonHead('${tableComment}列表')"/>
<body class="childrenBody layui-hide">
    <form class="layui-form queryForm">
        <blockquote class="layui-elem-quote quoteBox security_list_query_form">
            <form class="layui-form-item"><!--注意这个form最终会被layui删除-->
                #parse("vms/$version/jsp/include/entity-list-query.vm")
                <div class="layui-inline security_list_query_operate_search">
                    <a class="layui-btn search_btn" data-type="reload">搜索</a>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
                <div class="layui-inline security_list_query_operate_add_news">
                    <a class="layui-btn layui-btn-normal addNews_btn">添加</a>
                </div>
                <div class="layui-inline security_list_query_operate_del_all">
                    <a class="layui-btn layui-btn-danger layui-btn-normal delAll_btn">批量删除</a>
                </div>
            </form>
        </blockquote>
        <table class="security_list_table" id="newsList" lay-filter="newsListFilter" data-primary-fields="$dbPriorityKeyJavaField"></table>
        ##模板编写
        #parse("vms/$version/jsp/include/entity-list-table-template.vm")
        <!--操作-->
        <script type="text/html" id="newsListOperateTemplate">
            <a class="layui-btn layui-btn-sm security_list_table_operate_edit" lay-event="edit">编辑</a>
#if($childrenList)
    #if($childrenList.size()==1)
            <a class="layui-btn layui-btn-sm security_list_table_operate_children" lay-event="children">$childrenList.get(0).childDbTable.tableComment</a>
    #else
            <a class="layui-btn layui-btn-sm security_list_table_operate_children" lay-event="children">更多信息</a>
    #end
#end
            <a class="layui-btn layui-btn-sm layui-btn-danger security_list_table_operate_del" lay-event="del">删除</a>
        </script>
    </form>
    <div th:replace="magicalcoder/${jshtmlVersion}/include/main-js :: commonMain" />
    <script type="text/javascript"  th:src="@{/assets/admin/${lowerEntity}/${lowerEntity}-list.js}"></script>
</body>
</html>
