#parse("vms/$version/common/variable/head.vm")
#set($inputType = $node.formItem.inputType)
#if($inputType == $MagicConstant.INPYT_TYPE_SELECT())
    #parse("vms/$version/jsp/include/input/select.vm")
#elseif($inputType == $MagicConstant.INPYT_TYPE_FOREIGN_SELECT())
    #parse("vms/$version/jsp/include/input/select2-foreign.vm")
#elseif($inputType == $MagicConstant.INPYT_TYPE_RADIO())
    #parse("vms/$version/jsp/include/input/radio.vm")
#elseif($inputType == $MagicConstant.INPYT_TYPE_SWITCH())
    #parse("vms/$version/jsp/include/input/switch.vm")
#elseif($inputType == $MagicConstant.INPYT_TYPE_TEXTAREA())
    #parse("vms/$version/jsp/include/input/textarea.vm")
#elseif($inputType == $MagicConstant.INPYT_TYPE_IMG_FILE())
    #parse("vms/$version/jsp/include/input/img-file.vm")
#elseif($inputType == $MagicConstant.INPYT_TYPE_KINDEDITOR())
    #parse("vms/$version/jsp/include/input/kindeditor.vm")
#elseif($inputType == $MagicConstant.INPYT_TYPE_DATE())
    #parse("vms/$version/jsp/include/input/date.vm")
#elseif($inputType == $MagicConstant.INPYT_TYPE_SLIDER())
    #parse("vms/$version/jsp/include/input/slider.vm")
#elseif($inputType == $MagicConstant.INPYT_TYPE_RATE())
    #parse("vms/$version/jsp/include/input/rate.vm")
#elseif($inputType == $MagicConstant.INPYT_TYPE_COLOR_PICKER())
    #parse("vms/$version/jsp/include/input/color-picker.vm")
#elseif($inputType == $MagicConstant.INPYT_TYPE_CODE())
    #parse("vms/$version/jsp/include/input/code.vm")
#else
    #parse("vms/$version/jsp/include/input/text.vm")
#end
