<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
* 代码为自动生成 Created by www.magicalcoder.com
* 如果你改变了此类 read 请将此行删除
*  欢迎加入官方QQ群:323237052
-->
<mapper namespace="com.magicalcoder.youyaboot.service.goods.mapper.GoodsMapper">
    <!-- Goods -->
    <resultMap id="resultMap" type="Goods">
        <id column="ID" property="id"/>
        <result column="GOODS_NAME" property="goodsName" />
        <result column="PUBLISH_STATUS" property="publishStatus" />
        <result column="GOODS_STATUS" property="goodsStatus" />
        <result column="PRICE" property="price" />
        <result column="STORE_COUNT" property="storeCount" />
        <result column="SHORT_BRIEF" property="shortBrief" typeHandler="org.apache.ibatis.type.ClobTypeHandler"/>
        <result column="GOODS_DESCRIPTION" property="goodsDescription" typeHandler="org.apache.ibatis.type.ClobTypeHandler"/>
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="IMG_SRC" property="imgSrc" />
        <result column="GOODS_CATEGORY_ID" property="goodsCategoryId" />
    </resultMap>
    <!-- 查询单个实体 -->
    <select id="getModel" parameterType="hashmap" resultMap="resultMap">
        SELECT  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        FROM  <include refid="tableSql"/>  WHERE 1=1 <include refid="whereSqlModel"/> <include refid="orderGroupLimit"/>
    </select>
    <!--根据主键 查询单个实体 -->
    <select id="getModelByPk" parameterType="hashmap" resultMap="resultMap">
        SELECT  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        FROM  <include refid="tableSql"/>  <include refid="magicalcoderPkWhereSql"/>
    </select>
    <!-- 查询一组实体 -->
    <select id="getModelList" parameterType="hashmap" resultMap="resultMap">
        <include refid="pageStart"/>
        SELECT  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        <include refid="pageParam"/>
        FROM  <include refid="tableSql"/>  WHERE 1=1 <include refid="whereSqlModel"/> <include refid="orderGroupLimit"/>
        <include refid="pageEnd"/>
    </select>
    <!-- 查询一组实体 in 语句-->
    <select id="getModelInList" parameterType="hashmap" resultMap="resultMap">
        <include refid="pageStart"/>
        SELECT  <choose><when test="NotIgnore_!=null and NotIgnore_"><include refid="selectSqlNotIgnoreModel"/> </when><otherwise><include refid="selectSqlIgnoreModel"/></otherwise></choose>
        <include refid="pageParam"/>
        FROM  <include refid="tableSql"/>  WHERE  ID IN
        <foreach item="id" index="index" collection="idList" open="(" separator="," close=")">#{id}</foreach>
        <include refid="orderGroupLimit"/>
        <include refid="pageEnd"/>
    </select>
    <!-- 查询一组实体的数量 -->
    <select id="getModelListCount" parameterType="hashmap" resultType="int">
        SELECT count(1)  FROM  <include refid="tableSql"/>  WHERE 1=1 <include refid="whereSqlModel"/> <include refid="orderGroupLimit"/>
    </select>
    <!-- 插入单个实体 遇到入参null转换成数据库NULL-->
    <insert id="insertModel" parameterType="Goods"  useGeneratedKeys="true" keyProperty="id" >
        <selectKey resultType="long" order="BEFORE" keyProperty="id">SELECT <choose><when test="id==null"> <include refid="sequenceNextValSql"/> </when><otherwise> #{id} </otherwise></choose>FROM DUAL</selectKey>
        INSERT into <include refid="tableSql"/> (<include refid="douFieldSql"/>) values(<include refid="douValueSql"/>)
    </insert>
    <!-- 替换单个实体 如果没有则插入 遇到入参null转换成数据库NULL-->
    <insert id="replaceModel" parameterType="Goods"  useGeneratedKeys="true" keyProperty="id" >
        <!-- 很抱歉 oracle 没有像mysql replace into 这样 的语句-->
    </insert>
    <!-- 插入单个实体 遇到入参null转换成数据库默认值-->
    <insert id="insertModelWithoutNull" parameterType="Goods"  useGeneratedKeys="true" keyProperty="id" >
        <selectKey resultType="long" order="BEFORE" keyProperty="id">SELECT <choose><when test="id==null"> <include refid="sequenceNextValSql"/> </when><otherwise> #{id} </otherwise></choose>FROM DUAL</selectKey>
        INSERT into <include refid="tableSql"/> (<include refid="douFieldWithoutNullSql"/>) values(<include refid="douValueWithoutNullSql"/>)
    </insert>
    <!-- 替换单个实体 如果没有则插入 遇到入参null转换成数据库默认值-->
    <insert id="replaceModelWithoutNull" parameterType="Goods"  useGeneratedKeys="true" keyProperty="id" >
        <!-- 很抱歉 oracle 没有像mysql replace into 这样 的语句-->
    </insert>
    <!-- 批量插入一组实体 -->
    <insert id="batchInsertModel" parameterType="java.util.List"   useGeneratedKeys="false" keyProperty="id" >
        INSERT all
        <foreach collection="list" item="item" index="index" open="" close="" separator="">
            into <include refid="tableSql"/> (<include refid="batchDouFieldSql"/>) values (<include refid="batchDouValueSql"/>)
        </foreach>
        SELECT 1 FROM DUAL
    </insert>
    <!-- 批量替换一组实体 -->
    <insert id="batchReplaceModel" parameterType="java.util.List"  useGeneratedKeys="false" keyProperty="id" >
        <!-- 很抱歉 oracle 没有像mysql replace into 这样 的语句-->
    </insert>
    <insert id="batchInsertModelWithoutNull" parameterType="java.util.List"   useGeneratedKeys="false" keyProperty="id" >
        INSERT all
        <foreach collection="list" item="item" index="index" open="" close="" separator="">
            into <include refid="tableSql"/> (<include refid="batchDouFieldWithoutNullSql"/>) values (<include refid="batchDouValueWithoutNullSql"/>)
        </foreach>
        SELECT 1 FROM DUAL
    </insert>
    <insert id="batchReplaceModelWithoutNull" parameterType="java.util.List"  useGeneratedKeys="false" keyProperty="id" >
        <!-- 很抱歉 oracle 没有像mysql replace into 这样 的语句-->
    </insert>

        <!-- 清空表 操作危险 慎用，暂时注销掉-->
    <delete id="truncateModel">
        -- truncate table <include refid="tableSql"/>
    </delete>

    <!-- 根据主键删除一个实体 magicalCoderPrimaryKeyName 框架封装-->
    <delete id="deleteModelByPk" parameterType="hashmap">
        DELETE FROM <include refid="tableSql"/> <include refid="magicalcoderPkWhereSql"/>
    </delete>

    <delete id="deleteModelList" parameterType="hashmap">
        DELETE FROM <include refid="tableSql"/> WHERE 1=1 <include refid="whereSqlModel"/>
    </delete>

    <!-- 批量删除实体 in 根据主键-->
    <delete id="deleteModelByIds" parameterType="java.util.Set">
        DELETE FROM <include refid="tableSql"/> WHERE ID IN <foreach item="id" index="index" collection="collection" open="(" separator="," close=")">#{id}</foreach>
    </delete>
    <!-- 更新一个实体 -->
    <update id="updateModel" parameterType="Goods">
        UPDATE <include refid="tableSql"/> <include refid="updateSetSql"/> <include refid="updatePkWhereSql"/>
    </update>
    <!-- 更新一个实体 仅仅当被更新的字段不为空的时候才更新，否则忽略更新-->
    <update id="updateModelWithoutNull" parameterType="Goods">
        UPDATE <include refid="tableSql"/> <include refid="updateSetWithoutNullSql"/> <include refid="updatePkWhereSql"/>
    </update>
     <!-- 批量更新实体 传入一组实体，分别根据主键作为查询条件-->
    <update id="batchUpdateModel" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            UPDATE <include refid="tableSql"/> <include refid="batchUpdateSetSql"/> <include refid="batchUpdatePkWhereSql"/>
        </foreach>
    </update>
    <update id="batchUpdateModelWithoutNull" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            UPDATE <include refid="tableSql"/> <include refid="batchUpdateWithoutNullSetSql"/> <include refid="batchUpdatePkWhereSql"/>
        </foreach>
    </update>
    <!-- sql 片段 -->
   <sql id="selectSqlIgnoreModel">
        <trim suffixOverrides=",">
            <if test="idIgnore_ == null or !idIgnore_">ID,</if>
            <if test="goodsNameIgnore_ == null or !goodsNameIgnore_">GOODS_NAME,</if>
            <if test="publishStatusIgnore_ == null or !publishStatusIgnore_">PUBLISH_STATUS,</if>
            <if test="goodsStatusIgnore_ == null or !goodsStatusIgnore_">GOODS_STATUS,</if>
            <if test="priceIgnore_ == null or !priceIgnore_">PRICE,</if>
            <if test="storeCountIgnore_ == null or !storeCountIgnore_">STORE_COUNT,</if>
            <if test="shortBriefIgnore_ == null or !shortBriefIgnore_">SHORT_BRIEF,</if>
            <if test="goodsDescriptionIgnore_ == null or !goodsDescriptionIgnore_">GOODS_DESCRIPTION,</if>
            <if test="createTimeIgnore_ == null or !createTimeIgnore_">CREATE_TIME,</if>
            <if test="updateTimeIgnore_ == null or !updateTimeIgnore_">UPDATE_TIME,</if>
            <if test="imgSrcIgnore_ == null or !imgSrcIgnore_">IMG_SRC,</if>
            <if test="goodsCategoryIdIgnore_ == null or !goodsCategoryIdIgnore_">GOODS_CATEGORY_ID</if>
        </trim>
    </sql>
    <sql id="selectSqlNotIgnoreModel">
        <trim suffixOverrides=",">
         <if test="idNotIgnore_ != null and idNotIgnore_">ID,</if>
         <if test="goodsNameNotIgnore_ != null and goodsNameNotIgnore_">GOODS_NAME,</if>
         <if test="publishStatusNotIgnore_ != null and publishStatusNotIgnore_">PUBLISH_STATUS,</if>
         <if test="goodsStatusNotIgnore_ != null and goodsStatusNotIgnore_">GOODS_STATUS,</if>
         <if test="priceNotIgnore_ != null and priceNotIgnore_">PRICE,</if>
         <if test="storeCountNotIgnore_ != null and storeCountNotIgnore_">STORE_COUNT,</if>
         <if test="shortBriefNotIgnore_ != null and shortBriefNotIgnore_">SHORT_BRIEF,</if>
         <if test="goodsDescriptionNotIgnore_ != null and goodsDescriptionNotIgnore_">GOODS_DESCRIPTION,</if>
         <if test="createTimeNotIgnore_ != null and createTimeNotIgnore_">CREATE_TIME,</if>
         <if test="updateTimeNotIgnore_ != null and updateTimeNotIgnore_">UPDATE_TIME,</if>
         <if test="imgSrcNotIgnore_ != null and imgSrcNotIgnore_">IMG_SRC,</if>
         <if test="goodsCategoryIdNotIgnore_ != null and goodsCategoryIdNotIgnore_">GOODS_CATEGORY_ID</if>
        </trim>
    </sql>
    <sql id="douFieldSql">
        <trim suffixOverrides=",">
            <if test="id!=null">"ID",</if> "GOODS_NAME","PUBLISH_STATUS","GOODS_STATUS","PRICE","STORE_COUNT","SHORT_BRIEF","GOODS_DESCRIPTION","CREATE_TIME","UPDATE_TIME","IMG_SRC","GOODS_CATEGORY_ID",
        </trim>
    </sql>
    <sql id="douValueSql">
        <trim suffixOverrides=",">
                <choose><when test="id!=null">#{id},</when></choose>
                <choose><when test="goodsName!=null">#{goodsName},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="publishStatus!=null">#{publishStatus},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="goodsStatus!=null">#{goodsStatus},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="price!=null">#{price},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="storeCount!=null">#{storeCount},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="shortBrief!=null">#{shortBrief},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="goodsDescription!=null">#{goodsDescription},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="createTime!=null">#{createTime,jdbcType=TIMESTAMP},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="updateTime!=null">#{updateTime,jdbcType=TIMESTAMP},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="imgSrc!=null">#{imgSrc},</when><otherwise>NULL,</otherwise></choose>
                <choose><when test="goodsCategoryId!=null">#{goodsCategoryId},</when><otherwise>NULL,</otherwise></choose>
        </trim>
    </sql>

    <sql id="douFieldWithoutNullSql">
        <trim suffixOverrides=",">
                <if test="id!=null">"ID",</if>
                <if test="goodsName!=null">"GOODS_NAME",</if>
                <if test="publishStatus!=null">"PUBLISH_STATUS",</if>
                <if test="goodsStatus!=null">"GOODS_STATUS",</if>
                <if test="price!=null">"PRICE",</if>
                <if test="storeCount!=null">"STORE_COUNT",</if>
                <if test="shortBrief!=null">"SHORT_BRIEF",</if>
                <if test="goodsDescription!=null">"GOODS_DESCRIPTION",</if>
                <if test="createTime!=null">"CREATE_TIME",</if>
                <if test="updateTime!=null">"UPDATE_TIME",</if>
                <if test="imgSrc!=null">"IMG_SRC",</if>
                <if test="goodsCategoryId!=null">"GOODS_CATEGORY_ID",</if>

        </trim>
    </sql>
    <sql id="douValueWithoutNullSql">
        <trim suffixOverrides=",">
                <choose><when test="id!=null">#{id},</when></choose>
                <choose><when test="goodsName!=null">#{goodsName},</when></choose>
                <choose><when test="publishStatus!=null">#{publishStatus},</when></choose>
                <choose><when test="goodsStatus!=null">#{goodsStatus},</when></choose>
                <choose><when test="price!=null">#{price},</when></choose>
                <choose><when test="storeCount!=null">#{storeCount},</when></choose>
                <choose><when test="shortBrief!=null">#{shortBrief},</when></choose>
                <choose><when test="goodsDescription!=null">#{goodsDescription},</when></choose>
                <choose><when test="createTime!=null">#{createTime,jdbcType=TIMESTAMP},</when></choose>
                <choose><when test="updateTime!=null">#{updateTime,jdbcType=TIMESTAMP},</when></choose>
                <choose><when test="imgSrc!=null">#{imgSrc},</when></choose>
                <choose><when test="goodsCategoryId!=null">#{goodsCategoryId},</when></choose>
        </trim>
    </sql>
    <sql id="batchDouFieldSql">
        <trim suffixOverrides=",">
                "ID",
                "GOODS_NAME",
                "PUBLISH_STATUS",
                "GOODS_STATUS",
                "PRICE",
                "STORE_COUNT",
                "SHORT_BRIEF",
                "GOODS_DESCRIPTION",
                "CREATE_TIME",
                "UPDATE_TIME",
                "IMG_SRC",
                "GOODS_CATEGORY_ID",

        </trim>
    </sql>
    <sql id="batchDouValueSql">
        <trim suffixOverrides=",">
                <choose><when test="item.id!=null">#{item.id}</when><otherwise><include refid="sequenceNextValSql"/></otherwise></choose>,
                <choose><when test="item.goodsName!=null">#{item.goodsName}</when><otherwise> NULL </otherwise></choose>,
                <choose><when test="item.publishStatus!=null">#{item.publishStatus}</when><otherwise> NULL </otherwise></choose>,
                <choose><when test="item.goodsStatus!=null">#{item.goodsStatus}</when><otherwise> NULL </otherwise></choose>,
                <choose><when test="item.price!=null">#{item.price}</when><otherwise> NULL </otherwise></choose>,
                <choose><when test="item.storeCount!=null">#{item.storeCount}</when><otherwise> NULL </otherwise></choose>,
                <choose><when test="item.shortBrief!=null">#{item.shortBrief}</when><otherwise> NULL </otherwise></choose>,
                <choose><when test="item.goodsDescription!=null">#{item.goodsDescription}</when><otherwise> NULL </otherwise></choose>,
                <choose><when test="item.createTime!=null">#{item.createTime,jdbcType=TIMESTAMP}</when><otherwise> NULL </otherwise></choose>,
                <choose><when test="item.updateTime!=null">#{item.updateTime,jdbcType=TIMESTAMP}</when><otherwise> NULL </otherwise></choose>,
                <choose><when test="item.imgSrc!=null">#{item.imgSrc}</when><otherwise> NULL </otherwise></choose>,
                <choose><when test="item.goodsCategoryId!=null">#{item.goodsCategoryId}</when><otherwise> NULL </otherwise></choose>,
        </trim>
    </sql>
    <sql id="batchDouFieldWithoutNullSql">
        <trim suffixOverrides=",">
                <choose><when test="item.id!=null">"ID",</when><otherwise>"ID",</otherwise></choose>
                <choose><when test="item.goodsName!=null">"GOODS_NAME",</when><otherwise></otherwise></choose>
                <choose><when test="item.publishStatus!=null">"PUBLISH_STATUS",</when><otherwise></otherwise></choose>
                <choose><when test="item.goodsStatus!=null">"GOODS_STATUS",</when><otherwise></otherwise></choose>
                <choose><when test="item.price!=null">"PRICE",</when><otherwise></otherwise></choose>
                <choose><when test="item.storeCount!=null">"STORE_COUNT",</when><otherwise></otherwise></choose>
                <choose><when test="item.shortBrief!=null">"SHORT_BRIEF",</when><otherwise></otherwise></choose>
                <choose><when test="item.goodsDescription!=null">"GOODS_DESCRIPTION",</when><otherwise></otherwise></choose>
                <choose><when test="item.createTime!=null">"CREATE_TIME",</when><otherwise></otherwise></choose>
                <choose><when test="item.updateTime!=null">"UPDATE_TIME",</when><otherwise></otherwise></choose>
                <choose><when test="item.imgSrc!=null">"IMG_SRC",</when><otherwise></otherwise></choose>
                <choose><when test="item.goodsCategoryId!=null">"GOODS_CATEGORY_ID",</when><otherwise></otherwise></choose>

        </trim>
    </sql>
    <sql id="batchDouValueWithoutNullSql">
        <trim suffixOverrides=",">
                <choose><when test="item.id!=null">#{item.id},</when><otherwise><include refid="sequenceNextValSql"/>,</otherwise></choose>
                <choose><when test="item.goodsName!=null">#{item.goodsName},</when><otherwise></otherwise></choose>
                <choose><when test="item.publishStatus!=null">#{item.publishStatus},</when><otherwise></otherwise></choose>
                <choose><when test="item.goodsStatus!=null">#{item.goodsStatus},</when><otherwise></otherwise></choose>
                <choose><when test="item.price!=null">#{item.price},</when><otherwise></otherwise></choose>
                <choose><when test="item.storeCount!=null">#{item.storeCount},</when><otherwise></otherwise></choose>
                <choose><when test="item.shortBrief!=null">#{item.shortBrief},</when><otherwise></otherwise></choose>
                <choose><when test="item.goodsDescription!=null">#{item.goodsDescription},</when><otherwise></otherwise></choose>
                <choose><when test="item.createTime!=null">#{item.createTime,jdbcType=TIMESTAMP},</when><otherwise></otherwise></choose>
                <choose><when test="item.updateTime!=null">#{item.updateTime,jdbcType=TIMESTAMP},</when><otherwise></otherwise></choose>
                <choose><when test="item.imgSrc!=null">#{item.imgSrc},</when><otherwise></otherwise></choose>
                <choose><when test="item.goodsCategoryId!=null">#{item.goodsCategoryId},</when><otherwise></otherwise></choose>
        </trim>
    </sql>
    <sql id="updateSetSql">
        <set>
                    <choose> <when test="goodsName!=null">GOODS_NAME=#{goodsName}</when> <otherwise> GOODS_NAME=NULL</otherwise> </choose>,
                    <choose> <when test="publishStatus!=null">PUBLISH_STATUS=#{publishStatus}</when> <otherwise> PUBLISH_STATUS=NULL</otherwise> </choose>,
                    <choose> <when test="goodsStatus!=null">GOODS_STATUS=#{goodsStatus}</when> <otherwise> GOODS_STATUS=NULL</otherwise> </choose>,
                    <choose> <when test="price!=null">PRICE=#{price}</when> <otherwise> PRICE=NULL</otherwise> </choose>,
                    <choose> <when test="storeCount!=null">STORE_COUNT=#{storeCount}</when> <otherwise> STORE_COUNT=NULL</otherwise> </choose>,
                    <choose> <when test="shortBrief!=null">SHORT_BRIEF=#{shortBrief}</when> <otherwise> SHORT_BRIEF=NULL</otherwise> </choose>,
                    <choose> <when test="goodsDescription!=null">GOODS_DESCRIPTION=#{goodsDescription}</when> <otherwise> GOODS_DESCRIPTION=NULL</otherwise> </choose>,
                    <choose> <when test="createTime!=null">CREATE_TIME=#{createTime,jdbcType=TIMESTAMP}</when> <otherwise> CREATE_TIME=NULL</otherwise> </choose>,
                    <choose> <when test="updateTime!=null">UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP}</when> <otherwise> UPDATE_TIME=NULL</otherwise> </choose>,
                    <choose> <when test="imgSrc!=null">IMG_SRC=#{imgSrc}</when> <otherwise> IMG_SRC=NULL</otherwise> </choose>,
                    <choose> <when test="goodsCategoryId!=null">GOODS_CATEGORY_ID=#{goodsCategoryId}</when> <otherwise> GOODS_CATEGORY_ID=NULL</otherwise> </choose>,
        </set>
    </sql>
    <sql id="updateSetWithoutNullSql">
        <set>
                    <choose><when test="goodsName!=null">GOODS_NAME=#{goodsName},</when></choose>
                    <choose><when test="publishStatus!=null">PUBLISH_STATUS=#{publishStatus},</when></choose>
                    <choose><when test="goodsStatus!=null">GOODS_STATUS=#{goodsStatus},</when></choose>
                    <choose><when test="price!=null">PRICE=#{price},</when></choose>
                    <choose><when test="storeCount!=null">STORE_COUNT=#{storeCount},</when></choose>
                    <choose><when test="shortBrief!=null">SHORT_BRIEF=#{shortBrief},</when></choose>
                    <choose><when test="goodsDescription!=null">GOODS_DESCRIPTION=#{goodsDescription},</when></choose>
                    <choose><when test="createTime!=null">CREATE_TIME=#{createTime,jdbcType=TIMESTAMP},</when></choose>
                    <choose><when test="updateTime!=null">UPDATE_TIME=#{updateTime,jdbcType=TIMESTAMP},</when></choose>
                    <choose><when test="imgSrc!=null">IMG_SRC=#{imgSrc},</when></choose>
                    <choose><when test="goodsCategoryId!=null">GOODS_CATEGORY_ID=#{goodsCategoryId},</when></choose>
        </set>
    </sql>
    <sql id="magicalcoderPkWhereSql">
        WHERE 1=1
            AND ID = #{magicalCoderPrimaryKeyName}
    </sql>
    <sql id="updatePkWhereSql">
        WHERE 1=1
            AND ID = #{id}
    </sql>
    <sql id="batchUpdateSetSql">
        <set>
                    <choose> <when test="item.goodsName!=null">GOODS_NAME=#{item.goodsName}</when> <otherwise> GOODS_NAME=NULL</otherwise> </choose>,
                    <choose> <when test="item.publishStatus!=null">PUBLISH_STATUS=#{item.publishStatus}</when> <otherwise> PUBLISH_STATUS=NULL</otherwise> </choose>,
                    <choose> <when test="item.goodsStatus!=null">GOODS_STATUS=#{item.goodsStatus}</when> <otherwise> GOODS_STATUS=NULL</otherwise> </choose>,
                    <choose> <when test="item.price!=null">PRICE=#{item.price}</when> <otherwise> PRICE=NULL</otherwise> </choose>,
                    <choose> <when test="item.storeCount!=null">STORE_COUNT=#{item.storeCount}</when> <otherwise> STORE_COUNT=NULL</otherwise> </choose>,
                    <choose> <when test="item.shortBrief!=null">SHORT_BRIEF=#{item.shortBrief}</when> <otherwise> SHORT_BRIEF=NULL</otherwise> </choose>,
                    <choose> <when test="item.goodsDescription!=null">GOODS_DESCRIPTION=#{item.goodsDescription}</when> <otherwise> GOODS_DESCRIPTION=NULL</otherwise> </choose>,
                    <choose> <when test="item.createTime!=null">CREATE_TIME=#{item.createTime,jdbcType=TIMESTAMP}</when> <otherwise> CREATE_TIME=NULL</otherwise> </choose>,
                    <choose> <when test="item.updateTime!=null">UPDATE_TIME=#{item.updateTime,jdbcType=TIMESTAMP}</when> <otherwise> UPDATE_TIME=NULL</otherwise> </choose>,
                    <choose> <when test="item.imgSrc!=null">IMG_SRC=#{item.imgSrc}</when> <otherwise> IMG_SRC=NULL</otherwise> </choose>,
                    <choose> <when test="item.goodsCategoryId!=null">GOODS_CATEGORY_ID=#{item.goodsCategoryId}</when> <otherwise> GOODS_CATEGORY_ID=NULL</otherwise> </choose>,
        </set>
    </sql>
    <sql id="batchUpdateWithoutNullSetSql">
        <set>
                    <choose> <when test="item.goodsName!=null">GOODS_NAME=#{item.goodsName},</when></choose>
                    <choose> <when test="item.publishStatus!=null">PUBLISH_STATUS=#{item.publishStatus},</when></choose>
                    <choose> <when test="item.goodsStatus!=null">GOODS_STATUS=#{item.goodsStatus},</when></choose>
                    <choose> <when test="item.price!=null">PRICE=#{item.price},</when></choose>
                    <choose> <when test="item.storeCount!=null">STORE_COUNT=#{item.storeCount},</when></choose>
                    <choose> <when test="item.shortBrief!=null">SHORT_BRIEF=#{item.shortBrief},</when></choose>
                    <choose> <when test="item.goodsDescription!=null">GOODS_DESCRIPTION=#{item.goodsDescription},</when></choose>
                    <choose> <when test="item.createTime!=null">CREATE_TIME=#{item.createTime,jdbcType=TIMESTAMP},</when></choose>
                    <choose> <when test="item.updateTime!=null">UPDATE_TIME=#{item.updateTime,jdbcType=TIMESTAMP},</when></choose>
                    <choose> <when test="item.imgSrc!=null">IMG_SRC=#{item.imgSrc},</when></choose>
                    <choose> <when test="item.goodsCategoryId!=null">GOODS_CATEGORY_ID=#{item.goodsCategoryId},</when></choose>
        </set>
    </sql>
    <sql id="batchUpdatePkWhereSql">
        WHERE 1=1
            AND ID = #{item.id}
    </sql>
    <!-- 这里可以加上表名@youyaboot数据库link名称 方便的切换数据库 由于oracle不同于其他数据库，需要自己建立CREATE DATABASE LINK youyabootlink,所以此处可以根据实际情况自己修改模板-->
    <sql id="tableSql">
        GOODS
    </sql>
    <!--序列名默认使用SET_表名 如果您不是这样的取名风格，请手动修改下面的序列名 GET_SEQ_V_A_L_是提前建立的全局通用获取自增序列的函数 参考README.md-->
    <sql id="sequenceNextValSql">
        GET_SEQ_V_A_L_('SEQ_GOODS')
    </sql>
   <sql id="whereSqlModel">
        <if test="id!=null "> AND ID = #{id}</if>
        <if test="goodsName!=null "> AND GOODS_NAME = #{goodsName}</if>
        <if test="publishStatus!=null "> AND PUBLISH_STATUS = #{publishStatus}</if>
        <if test="goodsStatus!=null "> AND GOODS_STATUS = #{goodsStatus}</if>
        <if test="price!=null "> AND PRICE = #{price}</if>
        <if test="storeCount!=null "> AND STORE_COUNT = #{storeCount}</if>
        <if test="shortBrief!=null "> AND SHORT_BRIEF = #{shortBrief}</if>
        <if test="goodsDescription!=null "> AND GOODS_DESCRIPTION = #{goodsDescription}</if>
        <if test="createTime!=null "> AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}</if>
        <if test="updateTime!=null "> AND UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}</if>
        <if test="imgSrc!=null "> AND IMG_SRC = #{imgSrc}</if>
        <if test="goodsCategoryId!=null "> AND GOODS_CATEGORY_ID = #{goodsCategoryId}</if>
                <if test="idFirst!=null "> AND ID <![CDATA[=]]>
                            #{idFirst}
                </if>
                <if test="goodsNameFirst!=null "> AND GOODS_NAME <![CDATA[=]]>
                            #{goodsNameFirst}
                </if>
                <if test="publishStatusFirst!=null "> AND PUBLISH_STATUS <![CDATA[=]]>
                            #{publishStatusFirst}
                </if>
                <if test="goodsStatusFirst!=null "> AND GOODS_STATUS <![CDATA[=]]>
                            #{goodsStatusFirst}
                </if>
                <if test="priceFirst!=null "> AND PRICE <![CDATA[=]]>
                            #{priceFirst}
                </if>
                <if test="storeCountFirst!=null "> AND STORE_COUNT <![CDATA[=]]>
                            #{storeCountFirst}
                </if>
                <if test="shortBriefFirst!=null "> AND SHORT_BRIEF <![CDATA[=]]>
                            #{shortBriefFirst}
                </if>
                <if test="goodsDescriptionFirst!=null "> AND GOODS_DESCRIPTION <![CDATA[=]]>
                            #{goodsDescriptionFirst}
                </if>
                <if test="createTimeFirst!=null "> AND CREATE_TIME <![CDATA[>=]]>
                        #{createTimeFirst,jdbcType=TIMESTAMP}
                </if>
                <if test="createTimeSecond!=null "> AND CREATE_TIME <![CDATA[<=]]>
                        #{createTimeSecond,jdbcType=TIMESTAMP}
                </if>
                <if test="updateTimeFirst!=null "> AND UPDATE_TIME <![CDATA[>=]]>
                        #{updateTimeFirst,jdbcType=TIMESTAMP}
                </if>
                <if test="updateTimeSecond!=null "> AND UPDATE_TIME <![CDATA[<=]]>
                        #{updateTimeSecond,jdbcType=TIMESTAMP}
                </if>
                <if test="imgSrcFirst!=null "> AND IMG_SRC <![CDATA[=]]>
                            #{imgSrcFirst}
                </if>
                <if test="goodsCategoryIdFirst!=null "> AND GOODS_CATEGORY_ID <![CDATA[=]]>
                            #{goodsCategoryIdFirst}
                </if>
        <!--<if test="whereSql!=null"> ${whereSql}</if>-->
    </sql>

    <sql id="safeGroupBy">
        <if test="safeGroupBy!=null and safeGroupBy!=''">
            group by
            <choose>
                <when test="safeGroupBy != null and safeGroupBy == 'ID'">  ID </when>
                <when test="safeGroupBy != null and safeGroupBy == 'GOODS_NAME'">  GOODS_NAME </when>
                <when test="safeGroupBy != null and safeGroupBy == 'PUBLISH_STATUS'">  PUBLISH_STATUS </when>
                <when test="safeGroupBy != null and safeGroupBy == 'GOODS_STATUS'">  GOODS_STATUS </when>
                <when test="safeGroupBy != null and safeGroupBy == 'PRICE'">  PRICE </when>
                <when test="safeGroupBy != null and safeGroupBy == 'STORE_COUNT'">  STORE_COUNT </when>
                <when test="safeGroupBy != null and safeGroupBy == 'SHORT_BRIEF'">  SHORT_BRIEF </when>
                <when test="safeGroupBy != null and safeGroupBy == 'GOODS_DESCRIPTION'">  GOODS_DESCRIPTION </when>
                <when test="safeGroupBy != null and safeGroupBy == 'CREATE_TIME'">  CREATE_TIME </when>
                <when test="safeGroupBy != null and safeGroupBy == 'UPDATE_TIME'">  UPDATE_TIME </when>
                <when test="safeGroupBy != null and safeGroupBy == 'IMG_SRC'">  IMG_SRC </when>
                <when test="safeGroupBy != null and safeGroupBy == 'GOODS_CATEGORY_ID'">  GOODS_CATEGORY_ID </when>
            </choose>
        </if>
    </sql>
    <sql id="safeOrderBy">
        <if test="safeOrderBy!=null and safeOrderBy!=''">
            <choose>
                <when test="safeOrderBy != null and (safeOrderBy == 'ID desc'  or safeOrderBy == 'id desc')"> ORDER BY ID DESC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'ID asc'  or safeOrderBy == 'id asc')"> ORDER BY ID ASC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'GOODS_NAME desc'  or safeOrderBy == 'goods_name desc')"> ORDER BY GOODS_NAME DESC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'GOODS_NAME asc'  or safeOrderBy == 'goods_name asc')"> ORDER BY GOODS_NAME ASC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'PUBLISH_STATUS desc'  or safeOrderBy == 'publish_status desc')"> ORDER BY PUBLISH_STATUS DESC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'PUBLISH_STATUS asc'  or safeOrderBy == 'publish_status asc')"> ORDER BY PUBLISH_STATUS ASC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'GOODS_STATUS desc'  or safeOrderBy == 'goods_status desc')"> ORDER BY GOODS_STATUS DESC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'GOODS_STATUS asc'  or safeOrderBy == 'goods_status asc')"> ORDER BY GOODS_STATUS ASC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'PRICE desc'  or safeOrderBy == 'price desc')"> ORDER BY PRICE DESC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'PRICE asc'  or safeOrderBy == 'price asc')"> ORDER BY PRICE ASC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'STORE_COUNT desc'  or safeOrderBy == 'store_count desc')"> ORDER BY STORE_COUNT DESC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'STORE_COUNT asc'  or safeOrderBy == 'store_count asc')"> ORDER BY STORE_COUNT ASC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'SHORT_BRIEF desc'  or safeOrderBy == 'short_brief desc')"> ORDER BY SHORT_BRIEF DESC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'SHORT_BRIEF asc'  or safeOrderBy == 'short_brief asc')"> ORDER BY SHORT_BRIEF ASC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'GOODS_DESCRIPTION desc'  or safeOrderBy == 'goods_description desc')"> ORDER BY GOODS_DESCRIPTION DESC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'GOODS_DESCRIPTION asc'  or safeOrderBy == 'goods_description asc')"> ORDER BY GOODS_DESCRIPTION ASC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'CREATE_TIME desc'  or safeOrderBy == 'create_time desc')"> ORDER BY CREATE_TIME DESC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'CREATE_TIME asc'  or safeOrderBy == 'create_time asc')"> ORDER BY CREATE_TIME ASC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'UPDATE_TIME desc'  or safeOrderBy == 'update_time desc')"> ORDER BY UPDATE_TIME DESC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'UPDATE_TIME asc'  or safeOrderBy == 'update_time asc')"> ORDER BY UPDATE_TIME ASC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'IMG_SRC desc'  or safeOrderBy == 'img_src desc')"> ORDER BY IMG_SRC DESC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'IMG_SRC asc'  or safeOrderBy == 'img_src asc')"> ORDER BY IMG_SRC ASC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'GOODS_CATEGORY_ID desc'  or safeOrderBy == 'goods_category_id desc')"> ORDER BY GOODS_CATEGORY_ID DESC </when>
                <when test="safeOrderBy != null and (safeOrderBy == 'GOODS_CATEGORY_ID asc'  or safeOrderBy == 'goods_category_id asc')"> ORDER BY GOODS_CATEGORY_ID ASC </when>
            </choose>
        </if>
    </sql>

    <sql id="orderGroupLimit">
        <if test="limit == null">
            <include refid="safeGroupBy"/>
            <if test="notSafeGroupBy != null and notSafeGroupBy != ''"> GROUP BY ${notSafeGroupBy}</if>
            <include refid="safeOrderBy"/>
            <if test="notSafeOrderBy != null and notSafeOrderBy != ''"> ORDER BY ${notSafeOrderBy}</if>
        </if>
    </sql>
    <!--说到这 sqlserver的分页实在是复杂 个人还是中意 mysql的 limit 不过为了兼容sqlserver各个版本 还是采取以下方式，不用offset了-->
    <sql id="pageParam">
        <if test="limit != null">
            , ROW_NUMBER() OVER(<choose><when test="(safeOrderBy==null or safeOrderBy=='') and (notSafeOrderBy==null or notSafeOrderBy=='')"> ORDER BY ID </when><otherwise><include refid="safeOrderBy"/><if test="notSafeOrderBy != null and notSafeOrderBy != ''"> ORDER BY ${notSafeOrderBy}</if></otherwise></choose>)  AS MC_ROW_NUM_
        </if>
    </sql>
    <sql id="pageStart">
        <if test="limit != null">
            SELECT * FROM  (
        </if>
    </sql>
    <sql id="pageEnd">
        <if test="limit != null">
            ) MC_TMP_  WHERE <choose><when test="start != null">MC_ROW_NUM_ > #{start} AND MC_ROW_NUM_ <![CDATA[<=]]> #{start}+#{limit}</when><otherwise> MC_ROW_NUM_ <![CDATA[<=]]> #{limit}</otherwise></choose>
        </if>
    </sql>
</mapper>
