<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:include="magicalcoder/v001/include/head :: commonHead('首頁')"/>
<body class="childrenBody">
	<blockquote class="layui-elem-quote layui-bg-green">
		<div id="nowTime"></div><!--提示语在main.js-->
	</blockquote>
	<div class="layui-row layui-col-space10 panel_box">
		<!--<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
			<a href="javascript:;" data-url="http://www.magicalcoder.com" target="_blank">
				<div class="panel_icon layui-bg-green">
					<i class="layui-anim seraph icon-good"></i>
				</div>
				<div class="panel_word">
					<span>MagicalCoder</span>
					<cite>下载地址</cite>
				</div>
			</a>
		</div>-->
		<!--<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
			<a href="javascript:;" data-url="https://gitee.com/adyuebanwan/youyaboot" target="_blank">
				<div class="panel_icon layui-bg-black">
					<i class="layui-anim seraph icon-github"></i>
				</div>
				<div class="panel_word">
					<span>Git</span>
					<cite>youyaboot下载链接</cite>
				</div>
			</a>
		</div>
		<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
			<a href="javascript:;" data-url="https://gitee.com/adyuebanwan/youyaboot" target="_blank">
				<div class="panel_icon layui-bg-red">
					<i class="layui-anim seraph icon-oschina"></i>
				</div>
				<div class="panel_word">
					<span>码云</span>
					<cite>youyaboot模版下载链接</cite>
				</div>
			</a>
		</div>-->

	</div>

	<div th:replace="magicalcoder/v001/include/main-js :: commonMain" />
	<script type="text/javascript" th:src="@{/assets/magicalcoder/v001/js/main.js}"></script>
</body>
</html>
