            <textarea id="${node.dbField.javaField}" name="${node.dbField.javaField}" placeholder="请输入$node.formItem.title"   class="magicalcoder-layedit layui-textarea layui-hide" lay-verify="${node.dbField.javaField}VerifyEdit|magicalCoderVerify#parse("vms/$version/jsp/include/formvalidate/lay-verify.vm")" #if($node.formItem.disabled)disabled="true"#end>$node.formItem.defaultValue</textarea>
