<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHead(title)">
	<meta charset="utf-8"/>
	<title th:text="${title}"/>
	<base th:href="@{/}"/>
	<meta name="renderer" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta http-equiv="Access-Control-Allow-Origin" content="*"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="format-detection" content="telephone=no"/>
	<link rel="icon" href="favicon.ico"/>
	<link rel="stylesheet" th:href="@{/assets/magicalcoder/v002/layui/css/layui.css}" media="all" />
	<link rel="stylesheet" th:href="@{/assets/magicalcoder/v002/css/public.css}" media="all" />
	<link rel="stylesheet" th:href="@{/assets/magicalcoder/v002/css/select2.min.css}" media="all" />
	<link rel="stylesheet" th:href="@{/assets/magicalcoder/v002/css/magicalcoder.css}" media="all" />
</head>
</html>
