#set($projectName = ${dbProject.projectName})
#set($include = 'include')
##每次升级 有可能改变通用 js html 所以用版本号来兼容
#set($jshtmlVersion = 'v001')
#set($commonUtilName = ${dbProject.commonUtilName})
#set($companyName = ${dbProject.companyName})
#set($databaseRealName = ${dbProject.databaseRealName})
#set($tableName = ${dbTable.tableName})
#set($tableRealName = ${dbTable.tableRealName})
#set($tableComment=${dbTable.tableComment})
#set($Entity=$TableFieldUtil.sqlTableToJavaClassName($tableName))
#set($entity=$TableFieldUtil.firstCharToLower($Entity))
#set($lowerEntity=$TableFieldUtil.toLowerCase($Entity))
#set($getEntityList = "get${Entity}List")
#set($jing = '#')
#set($tab1 = '    ')
#set($tab2 = '        ')
#set($tab3 = '            ')
#set($tab4 = '                ')
#set($tab5 = '                    ')
#set($tab6 = '                        ')
#set($tab7 = '                            ')
#set($tab8 = '                                ')
#set($tab9 = '                                    ')
#set($tab10 = '                                        ')
#set($tab11 = '                                             ')
#set($tab12 = '                                                 ')
#set($tab13 = '                                                     ')
#set($tab14 = '                                                         ')
#set($tab15 = '                                                             ')
#set($tab16 = '                                                                 ')
#set($tab17 = '                                                                     ')
#set($tab18 = '                                                                         ')
#set($tab19 = '                                                                             ')
#set($tab20 = '                                                                                 ')
##无自增的nodelist
#set($noAutoIncreseNodeList = $CreateVmUtil.noAutoIncreseNodeList($nodeList))
