##是否存在ckeditor inpytType
#set($hasKindEditor=false)
#foreach($node in $nodeList)
    #if($node.formItem.inputType == $MagicConstant.INPYT_TYPE_KINDEDITOR())
        #set($hasKindEditor=true)
    #end
#end